.spd_movieclip{
    background-repeat: no-repeat;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
}

.canvas_fotograma{
    position: absolute;
    top: 0px;
    left: 0px;
}